*{
    margin: 0;
    padding: 0;
}
h1,h3,h2,p{
    color: #FEC704;
    text-align: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
span{
background-color: #e50021;
}
#image01{
    border-radius: 60px;
    width: 50%;

}
#image02{
    border-radius: 60px;
    width: 50%;
}
#image03{
    border-radius: 60px;
    width: 50%;
}
#image04{
    border-radius: 60px;
    width: 50%;

}

nav{
    background-color:#F5F3F4;
    margin-bottom: 0;
    padding:10px ;
    text-align: center;
    align-items: center;
}
.primeirasection{
    background-color:#F5F3F4

}
p{
    text-align: right;
}
h1#promocao{
    text-align: left;
}
#logo{
    width: 30px;
    height: 30px;
    position: relative;
    float:left;
    margin:0;
}
.btn{
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

input#pesquisar{
    height: 30px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    margin-top: 10px;

}
input{
    width: 50%;
}

body{
    background-color: #fff;
}
header{
    background-color:#EA1D2C ;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-repeat: no-repeat;
    justify-content: center;
    background-position: center;
    margin:0 auto;
    color: #fff;
}
#sucos{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr ;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  grid-row-gap: 5px;

}
#botao{
    background-color: #F5F3F4;
    border-radius: 40px;
    font-size: 15pt;
    color: #606066;
    border: #fff;
    
}
#conteiner{
    background-color: #EA1D2C;
}
#botao:hover{
    background-color: #e50021;
    color: #fff;
}
nav ul li{
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;

}
nav ul li a{
    list-style: none;
    text-decoration: none;
}
#conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    grid-row-gap: 5px;
    justify-content: center;

}
#corestabela{
    background-color:#fff ;
}
#bebidas{
    display: inline;
    background-color:#F5F3F4;
    color: #000;

}

span{
    color: #fff;
    padding: 10px;
    background-color: #EA1D2C;
    border-radius: 70px;
}
h2#ref{
    background-color:#F5F3F4 ;
}
#compreja{
    color: #000;
    align-items: center;
    text-align: center;
    background-color:  #F5F3F4;
}
#compreja img{
    align-items: center;
    align-items: center;
}
footer{

    background-color:#EA1D2C ;
    padding: 30px;
    margin: 0;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    align-items: center;
}
h2#ref{
    color: #000;
    background-color: #fff;
}
@media screen and (min-width:1200px){
    header{
        height: 600px;
        height: 60vh;
      justify-content: center;


    }
    h1{
        font-size: 50pt;
    }
    h2{
        color: #000;
    }
    h2#ref{
        color: #000;
        background-color: #fff;
    }
    #conteiner{
        display: grid;
        grid-template-columns: 1fr 1fr  ;
        grid-template-rows: 1fr 1fr ;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fff;
        margin-right: 90px;
        justify-content: center;
    
    }
    #image01{
        border-radius: 60px;
        width: 30%;
        
    
    }
    #image02{
        border-radius: 60px;
        width: 30%;
    
    }
    #image03{
        border-radius: 60px;
        width: 30%;
    }
    #image04{
        border-radius: 60px;
          width: 30%;
    }
    #logo{
        width: 50px;
        height: 50px;
        align-items: center;
        text-align: center;
        margin:0;
        position: absolute;
    }
    footer{
    
        background-color:#EA1D2C ;
        padding: 30px;
        margin-bottom: 0;
        color: #fff;
        align-items: center;
        text-align: center;
    }
    nav ul li{
        background-color:#F5F3F4;
        margin-bottom: 0;
        padding:10px ;
        text-align: end;
        align-items: inherit;
    }
    nav{
        padding: 30px;
    }
}
